# URL de la API del Backend (Render / Local)
# En local: http://localhost:5000/api
# En producción (Render): https://siscontrol-backend.onrender.com/api
VITE_API_URL="https://siscontrol-backend.onrender.com/api"
