# Configuración para PostgreSQL (Render / Supabase / Neon / Local)
DATABASE_URL="postgresql://user:password@localhost:5432/importrivero_db?schema=public"

# Puerto del servidor backend en Render
PORT=5000

# Secreto JWT para autenticación
JWT_SECRET="importrivero_super_secret_jwt_key_2026"

# Frontend URL para CORS en Vercel
FRONTEND_URL="http://localhost:3000"
